.content {
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 15px;
  padding: 2em 2em 3em 2em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.18); /* тень */
  max-width: 1000px;
}

/* Гибкие контейнеры */
.flex-container {
  width: 100%;
  display: flex;
  padding: 10px;
  margin: 0;
  justify-content: space-between;
}
.flex_left {
  flex-grow: 7;
}

.flex_right {
  flex-grow: 3;
}

/* Формы */
.form-group {
  padding: 15px;
  margin-bottom: 20px;
}
.form-group label {
  margin-right: 2px;
  font-weight: bold;
}
.delivered {
  width: 50%;
}

/* Поля ввода */
.form-group input:not([type="radio"]):not([type="checkbox"]), /* исключение для радибаттон и чекбокс */
.form-group textarea,
.form-group select
 {
  border: 2px solid rgba(0, 0, 0, 0.25);
  width: 100%;
  font-size: 13px;
  min-height: 40px;
  margin-left: 0.75em;
  margin-right: 1em;
  border-radius: 11px;
  padding: 0.5em;
  transition: all 0.2s;
  outline: none;
  cursor: text;
  overflow: auto;
}

.form-group textarea {
  min-height: 40px;
  max-height: 200px;
  resize: vertical;
}

/* Состояния полей */
.form-group input:hover :not([type="radio"]):not([type="checkbox"]),
.form-group textarea:hover,
.form-group select:hover {
  background: #d3d3d3;
}
.form-group input :focus:not([type="radio"]):not([type="checkbox"]),
.form-group textarea:focus,
.form-group select:focus {
  background: #fff;
  border: 2px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  font-weight: bold;
}

.form-text {
  /* margin: 1em !important; */
  display: block;
}
/* Фикисрованный размер для label, input */
.fixed-label {
  min-width: 200px;
}
.fixed-input {
  width: 250px;
}

/* Line spacer */
.line-spacer {
  height: 2px;

  /*background-color: #1a1a1a;*/
  background-image: linear-gradient(90deg, #f7f7f7, #ebebeb, #f7f7f7);
  opacity: 70%;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* headers */
h1,
h2,
h3,
h4 {
  text-align: center;
  margin-bottom: 1em;
}
